  <div class="section">
      <div class="row">
        <h2>#TITLE</h2>
        <hr>
      </div>
      <div class="row">
        <div class="gallery" id="upper_gallery">
          <div class="col-xs-4 gallery-item">
            <p class="image-subtitle" id="image-1-text">#IMAGE1_TEXT</p>
            <img src="#IMAGE1_SRC" alt="" class="img-responsive #IMAGE1_CLASS" />
          </div>
          <div class="col-xs-4 gallery-item">
            <p class="image-subtitle" id="image-2-text">#IMAGE2_TEXT</p>
            <img src="#IMAGE2_SRC" alt="" class="img-responsive #IMAGE2_CLASS" />
          </div>
          <div class="col-xs-4 gallery-item">
            <p class="image-subtitle" id="image-3-text">#IMAGE3_TEXT</p>
            <img src="#IMAGE3_SRC" alt="" class="img-responsive #IMAGE3_CLASS" />
          </div>
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="gallery" id="lower_gallery">
          <div class="col-xs-4 gallery-item">
            <img src="#IMAGE4_SRC" alt="" class="img-responsive #IMAGE4_CLASS" />
            <p class="image-subtitle" id="image-4-text">#IMAGE4_TEXT</p>
          </div>
          <div class="col-xs-4 gallery-item">
            <img src="#IMAGE5_SRC" alt="" class="img-responsive #IMAGE5_CLASS" />
            <p class="image-subtitle" id="image-5-text">#IMAGE5_TEXT</p>
          </div>
          <div class="col-xs-4 gallery-item">
            <img src="#IMAGE6_SRC" alt="" class="img-responsive #IMAGE6_CLASS" />
            <p class="image-subtitle" id="image-6-text">#IMAGE6_TEXT</p>
          </div>
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col-xs-12 description" id="description">
          <h4 class="description-header">Beneficios y contraindicaciones</h4>
          <p id="description" class="description-body">#DESCRIPTION</p>
        </div>
      </div>
  </div>
